<div class="loginWrapper">
    <div class="container">
        <article class="card shadow border-0 ">
            <form [formGroup]="loginForm" novalidate (submit)="onSubmit()" class="cardpage">
                <div class="mb-3">
                    <div class="text-center mt-2 mb-4">
                        <img src="../../../assets/img/VEStoree-PNG.png" class="logo" alt="">
                    </div>
                    <h5 class="text-center textClss mb-4">Change Password</h5>
                   
                    <div class="inputWrapper">
                        <input formControlName="currentPassword" [type]="showPass ? 'text' : 'password'" type="password"
                            minlength="8" class="form-control" placeholder="Current Password" required>
                        <i class="fa" (click)="showPass = !showPass"
                            [ngClass]="{'fa-eye': showPass, 'fa-eye-slash':!showPass}"></i>
                    </div>

                    <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.currentPassword.errors.required">Current Password is required</div>
                        <div *ngIf="f.currentPassword.errors.minlength">Minimum Length is 8</div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="inputWrapper">
                        <input formControlName="newPassword" [type]="showPass ? 'text' : 'password'" type="password"
                            minlength="8" class="form-control" placeholder="New Password" required>
                        <i class="fa" (click)="showPass = !showPass"
                            [ngClass]="{'fa-eye': showPass, 'fa-eye-slash':!showPass}"></i>
                    </div>

                    <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.newPassword.errors.required">New Password is required</div>
                        <div *ngIf="f.newPassword.errors.minlength">Minimum Length is 8</div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="inputWrapper">
                        <input formControlName="confirmPassword" [type]="showPass ? 'text' : 'password'" type="password"
                            minlength="8" class="form-control" placeholder="Confirm Password" required>
                        <i class="fa" (click)="showPass = !showPass"
                            [ngClass]="{'fa-eye': showPass, 'fa-eye-slash':!showPass}"></i>
                    </div>

                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="f.confirmPassword.errors.confirmMatch">Confirm password must match with new password</div>
                        <div *ngIf="f.confirmPassword.errors.minlength">Minimum Length is 8</div>
                    </div>
                </div>
                
                <div class="mt-3">
                    <a routerLink="/" class="forgotpassword">Back</a>

                    <button type="submit" class="btn btn-primary buttonCss w-100 mb-4">
                        Submit
                    </button>
                </div>

            </form>
        </article>
    </div>
</div>