<!-- <p>blog-detail works!</p> -->

<!-- <div class="container">
    
    <div class="row">
        <div class="col-md-12 ">
            <img src="../../assets/img/home-exterior-today-180726-tease-1355945 (1).jpg" class="w-100 banner ">
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 mt-4">
            <h3 class="hedding ">Lorem Ipsum is simply dummy text of the printing and setting industry. </h3>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into electronic typesetting, remaining essentially
                unchanged. It was popularised in the </p>
            <h3 class="hedding">
                1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
            </h3>
            <p class="textClss">more recently with desktop publishing software like Aldus PageMaker including
                versions of Lorem Ipsum.</p>
        </div>
        <div class="col-md-6">
            <img src="../../assets/img/Tiny-house-with-amazing-interior-design_3.jpeg" class=" containtImag">
        </div>
    </div>
    


    <div class="row">
        <div class="col-md-6">
            <img src="../../assets/img/banner.png" class="secondbnner" />
        
        </div>
        <div class="col-md-6">
            <img src="../../assets/img/signupimg.jpg" class="secondbnner" />
        
        </div>

        <div class="col-md-12">

            <h3 class="hedding mt-4">Lorem Ipsum is simply dummy text of the printing and setting industry. </h3>
            <p class="textClss">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
                not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
                was popularised in the </p>
            <h3 class="hedding">
                1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
            </h3>
            <p>more recently with desktop publishing software like Aldus PageMaker including
                versions of Lorem Ipsum.</p>
        
        </div>

    </div>

</div> -->





<div class="container blogWraper">

    <div class="row" *ngIf="!this.appStateSvc.stateData.loader">


        <div class="col-md-6 align-self-center">
            <div class="mb-3 catName">
                <b>{{blog.catName | titlecase}}</b> | {{blog.createdAt | date}}
            </div>
            <h3 class="hedding">{{blog.slug}} </h3>

            <div>
                <b>Written by</b> Shivam
            </div>

        </div>

        <div class="col-md-6">
            <img *ngIf="blog.image" src="{{_baseUrl}}{{blog?.image}}" class="w-100 banner ">
            <img *ngIf="!blog.image"  src="/assets/img/No image.png" class="w-100 banner ">
        </div>

    </div>

    <p class="paraclass mt-5" [innerHTML]="blog.description"> </p>


    <div class="row" *ngIf="this.appStateSvc.stateData.loader">
        <div class="col-md-6">
            <div class="w-100 banner shine"></div>
        </div>

        <div class="col-md-6">
            <h3 class="hedding shine"></h3>
            <p class="paraclass shine"></p>
            <p class="paraclass shine"></p>
            <p class="paraclass shine"></p>
            <p class="paraclass shine"></p>
            <p class="paraclass shine"></p>
            <p class="paraclass shine"></p>

        </div>

    </div>
</div>