<!-- <p>footer works!</p> -->
<p class="text-center p-3 footerclass">Copyright © reserved, Template by <span class="linkclass">VEStoree.com.</span></p>
<!-- <div class="mainclass mt-5">
<div class="container ">
    <div class="row footerclass">
        <div class="col-md-8">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </div>
        <div class="col-md-4">
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </div>
        <div class="col-md-4">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
    </div>

    <div class="row footerclass">
        <div class="col-md-3 ">

<h3>About Us</h3>
        </div>
        <div class="col-md-3 ">
            <h3>Contact Us</h3>
            
        </div>
        <div class="col-md-3">
            <h3>Terms & Condition</h3>
        </div>
        <div class="col-md-3">
            <h3>privacy policy</h3>
        </div>

    </div>
</div>

</div>

<div class="footerstyle">
    <p class="text-center p-3 footerclass">Copyright © reserved, Template by <span class="linkclass">VEStoree.com.</span></p>
</div> -->