.footerclass{
    font-weight: 400;
font-size: 15px;
line-height: 24px;
}

.linkclass{
    color: #3377CC;
}
// .footerstyle{
//     background: #F08519;
// }

.mainclass{
    background:#0E3D53;
}

// .footerclass{
//     color: #ffff;
// }