.property_headding {
    padding: 15px 0px;
}

.fontclass {
    font-size: 20px;
    font-weight: 500;
    color: #013856;
}
.detalhedding {
    font-size: 20px;
    font-weight: 500;
    color: #f08519;
}
li {
    line-height: 2;
}
.propertyimg img {
    width: 100%;
    height: 316px;
    object-fit: cover;
}
b {
    display: inline-block;
}
.propertytxt {
    padding: 9px 30px;
}

.border.p-3.sellingtext {
    box-shadow: 0px 0px 6px 0px #80808061;
}
.ARVCLSS {
    padding: 39px 17px;
}
.ARVclss {
    font-size: 20px;
    font-weight: 600;
    color: #f08519;
}
.ARVdescription {
    color: #495057;
    font-size: 15px;
}

.Basicdetailclss {
    padding: 39px 17px;
}
.detailsclss {
    font-size: 20px;
    font-weight: 600;
    color: #f08519;
}

.listingclss {
    font-size: 15px;
    color: #495057;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.Property_Description.mt-3 {
    font-size: 20px;
    font-weight: 600;
    color: #f08519;
}

.paraclss {
    font-size: 15px;
    color: #495057;
}