
 <!-- <div id="main">
  <button class="openbtn" onclick="openNav()">☰</button>  
 
</div> -->
<div>
  <div class="row mt-2">
    <div class="col-md-6 col-xl-4">
      <div class="">
        <div class=" cardclass1 d-flex">
          <div class="imgdiv">
            <img src="../../../assets/img/home.png" class=" imgclss w-100">
          </div>
          <div class="textdic">
            <h5 class="textclass">Total property </h5>
          </div>
        </div>

      </div>
    </div>


    <div class="col-md-6 col-xl-4">
      <div class="">
        <div class=" cardclass2 d-flex">
          <div class="imgdiv">
            <img src="../../../assets/img/home2.png" class=" imgclss w-100">
          </div>
          <div class="textdic">
            <h5 class="textclass">Total time spent   </h5>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-6 col-xl-4">
      <div class="">
        <div class=" cardclass3 d-flex">
          <div class="imgdiv">
            <img src="../../../assets/img/home5.jpeg" class=" imgclss w-100">
          </div>
          <div class="textdic">
            <h5 class="textclass">total number </h5>
          </div>
        </div>

      </div>
    </div>
  </div>



  <div class="row mt-5">
    <div class="col-md-6">
      <div class="card shadow">
        <div style="display: block;">
          <!-- <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
            [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
          </canvas> -->
          <ag-charts-angular
    style="height: 100%"
    [options]="options"
  ></ag-charts-angular>
        </div>
      </div>
      </div>


      <div class="col-md-6">
        <div class="card shadow">
          <div style="display: block;">
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
              [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
            </canvas>
          </div>
        </div>
      </div>
   

  </div>
</div>

