<!-- <p>about-us works!</p> -->
<div class="container mt-4">
    
    <div class="row">
        <div class="col-md-12 ">
            <img src="../../assets/img/home-exterior-today-180726-tease-1355945 (1).jpg" class="w-100 banner ">
        </div>
    </div>

      
    <div class="row">
         <div class="col-md-6 mt-4">
            <h1 class="loader shine"  *ngIf="this.appStateSvc.stateData.loader"></h1>
             <h1 class="mainhedding">{{content?.title}}</h1>
            <p class="hedding " [innerHTML]="content?.description"></p>  
            <!-- <h3 class="hedding">
                1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
            </h3> -->

            <!-- <h1 class="mainhedding">Our Vision</h1>
            <p class="textClss">more recently with desktop publishing software like Aldus PageMaker including
                versions of Lorem Ipsum.</p>
                <a class="viewbtn">View More..</a> -->
         </div> 
        <div class="col-md-6">
            <img src="../../assets/img/Tiny-house-with-amazing-interior-design_3.jpeg" class=" containtImag">
        </div>
    </div>
    


    


    <div class="row">
        <div class="col-md-6">
            <img src="../../assets/img/banner.png" class="secondbnner" />
        
        </div>
        <div class="col-md-6">
            <img src="../../assets/img/signupimg.jpg" class="secondbnner" />
        
        </div>

        <!-- <div class="col-md-12">
<h1 class="mainhedding mt-4">Our Mission</h1>
            <h3 class="hedding mt-4">Lorem Ipsum is simply dummy text of the printing and setting industry. </h3>
            <p class="textClss">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
                not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
                was popularised in the </p>
            <h3 class="hedding">
                1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
            </h3>
            <p>more recently with desktop publishing software like Aldus PageMaker including
                versions of Lorem Ipsum.</p>
        
        </div> -->

    </div>

</div>