@charset "utf-8";
/* CSS Document */

.container {
    background-image: url('https://cdn.omeda.com/hosted/images/dragon/12247/832.svg');
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding-top: 30px;
    padding-bottom: 30px;
    }

body {
color: fff;
}

div#submitbtn {
    display: none;
}

.button {
    display: none;
}

span.questionlabel {
    display: none;
}

p#p13 .questionlabel, p#p7 .questionlabel {
    display: none;
}

input#id13, select#id7 {
    border: 1px solid black;
    height: 33px;
    display: inline-block;
    margin-right: 10px;
}

span#signupbtn {
    vertical-align: top;
    display: inline-block;
    min-width: 145px;
}

p#p13, p#p7 {
    max-width: 200px;
    margin-right: 10px;
    padding: 0px;
    display: inline-block;
}

input[type="submit"] {
    margin: 0px;
    -webkit-appearance: none;
    color: #0068b3;
    background: #e3f0f7;
    text-shadow: none;
    border: none;
    border-radius: 0px;
    height: 33px;
    padding: 0px;
    min-width: 24px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

input[type="submit"]:hover {
    background: #0068b3;
    color: #e3f0f7;
    border:none;
}

p#p397 {
    display: none;
}

span.spanc397.drg-element-type-cms-content.drg-element-sub-type-category-1 {
        margin-top: 10px;
    max-width: 514px;
    margin-left: 15px;
    display: block;
}

p#partack {
    margin-left: 0px;
    margin-top: 10px;
    max-width: 500px;
}

div#pd267 {
    margin-top: 10px;
    max-width: 500px;
}

section.sixteen.columns.content {
    padding: inherit;
}

strong {
    color: #fff;
}

div#thankyoushort {
    color: #fff;
}


@media only screen and (max-width: 767px) {

    span.spanc397.drg-element-type-cms-content.drg-element-sub-type-category-1 {
    max-width: 400px;
    margin-left: 0px;
    display: block;
}
}


@media only screen and (max-width: 638px) {

p#p13, p#p7 {
    max-width: 150px;
    margin-right: 10px;
    padding: 0px;
    display: inline-block;
}

}

@media only screen and (max-width: 528px) {

p#p13, p#p7 {
    width: 48%;
    margin-right: 10px;
    padding: 0px;
    display: inline-block;
    max-width: initial;
}

span#signupbtn {
    margin-top:10px;
    vertical-align: top;
    display: block;
    min-width: 145px;
}

select#id7, p#p7 {
    margin-right: 0px;
}

}

@media only screen and (max-width: 479px) {

span.spanc397.drg-element-type-cms-content.drg-element-sub-type-category-1 {
    margin-left: 0px;
    display: block;
}
  
p#p13 {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

p#p7 {
    width: 100%;
}

}
