.listingimg {
    width: 100%;
}

.listingTital {
    font-size: 20px;
    font-weight: 500;
    color: #F08519;
}

.listingPara {
    font-size: 15px;
    color: #113a4f;
    text-transform: capitalize;

}

.blogSearch {
    border-radius: 12px 0px;
}

.Searchbtn {
    background: #F08519;
    border: none;
    color: #fff;
    border-radius: 12px 0px;
    padding: 8px 19px;
    font-weight: 500;
    box-shadow: inset 0px 2px 5px 0px #0000006b;
}

.Detailbtn {
    background: #0E3D53;
    color: #fff;
    border: none;
    border-radius: 12px 0px;
    padding: 8px 19px;
    font-weight: 500;
    box-shadow: inset 0px 2px 5px 0px #0000006b
}

.cards {

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100%;
}

img.listingimg {
    height: 220px;
    object-fit: cover;
}

.containt {
    padding: 11px 29px;
}

.hedding {
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    text-transform: capitalize;

}

i.fa.fa-search.searchicon {
    position: absolute;
    right: 117px;
    top: 11px;
    font-size: 12px;
}

.shine {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    min-height: 14px;
    border-radius: 5px;
    color: transparent !important;
}

strong.shine {
    display: block;
    margin-bottom: 14px;
}

.listingimg.shine {
    height: 263px;

}


@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

.selectclass {
    background: #FFFF;
    border: 2px solid #ec8319 !important;
    color: gray;
    padding: 5px;
    border-radius: 6px;
}



.Categoryclass {
    color: #0E3D53;
    font-weight: 500;
}