<div class="left pt-3 pb-3">
    <h1 class="mb-4 ml-2"><i class="fa fa-cog" aria-hidden="true"></i>Settings</h1>
    <p class="mb-4 ml-4" routerLinkActive='active' routerLink="/company" >Company</p>
    <p class="mb-4 ml-4" routerLinkActive='active' routerLink="/intake">Intake</p>
    <p class="mb-4 ml-4" routerLinkActive='active' routerLink="/transaction-template">Transaction Template</p>
    <p class="mb-4 ml-4"routerLinkActive='active' routerLink="/email-template">Email Templates</p>
    <p class="mb-4 ml-4"routerLinkActive='active' routerLink="/decision-template" >Decision pages</p>
    <p class="mb-4 ml-4" routerLinkActive='active' routerLink="/contacts">Contacts</p>
    <p class="mb-4 ml-4" routerLinkActive='active' routerLink="/billing">Billing</p>
</div>