.heding {
    font-weight: 500;
}
.searchbtn{
    color: #fff;
    background-color: #f0851a;
    border-color: #f0851a;
    padding: 11px 14px;
    margin-left: -2px;
}

.searchbtn:hover{
    color:#000;

}
i.fa.fa-times {
    position: absolute;
    top: 25px;
    right: 88px;
    color: #808080ab;
}
.card-header {
    background: none;
}