<div class="row ">
  <div class="col-md-6">
    <h1 class="heding mt-3 ">Property view</h1>
  </div>

  <div class="col-md-6">
    <div class="card-header d-flex  justify-content-end ">
      <div class=" ">
  
        <form class="search-formd-flex" (ngSubmit)="searchValue()">
          <input class="form-control name" [(ngModel)]="filters.search" [ngModelOptions]="{standalone: true}" id="name"
            required type="text" placeholder=" Search.." /><i class="fa fa-times" aria-hidden="true"  *ngIf="filters.search" (click)="clearValue()" ></i>
  
  
        </form>
  
      </div>
      <div>
        <button type="submit" [disabled]='!filters.search' class="btn btn-primary searchbtn"><i
            class="fa fa-search"></i></button>
      </div>
    </div>
  </div>
 

</div>
<div class="tab-content" id="myTabContent" >
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="content-section">
            <div  class="content-body inner-container bg-white text-muted">
              <ngx-datatable class="bootstrap" [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50"
                [rowHeight]="50" [scrollbarV]="false" [rows]="faqData" [columns]="columns" [limit]="10" [reorderable]="false"
                (page)="setPage($event)">
          
                <ngx-datatable-column name="Transaction Id" prop="area" >
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Address" prop="address" >
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                      {{value}}
                    </ng-template>
                  </ngx-datatable-column>
              </ngx-datatable>
    
            </div>
          </div>
        </div>
      </div>



      <div class="row shine" *ngIf="loading">
        <div class="col-md-12 shine">
          <table class="table shine">
            <thead class="thead theadcss shine">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
                <th scope="col">Action</th>
    
    
              </tr>
            </thead>
            <tbody *ngFor="let item of this.appStateSvc.stateData.shineItem">
              <tr  >
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
    
              </tr>
            </tbody>
          </table>
    
    
          <div *  class="pages shine">
            <pagination-controls  class="paginationclss shine"></pagination-controls>
          </div>
    
        </div>
      </div> 