<!-- <div class="container mt-2">
    <div class="row">
        <div class="col-md-12 navclss">
          <button class="navbar-toggler navbar-light" (click)="toggle=!toggle" type="button" data-toggle="collapse"
            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button><br>
          <div class="collapse navbar-collapse" id="navbarNav" [ngClass]="{'active show':toggle}">
           
      
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link disabled"   [routerLink]="['/property-dash']">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"  (click)="GotoSelling()">Selling Area</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled"   [routerLink]="['/']">Pontentive ARV</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" (click)="GotoAnaliysis()" >Create Budget</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"  (click)="GotoLocation()">Locate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled"   [routerLink]="['/']">Reports</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled"   [routerLink]="['/']">Share Files</a>
              </li>
            </ul>
      
        </div>
      </div>
          
          </div>
</div> -->


<div class="contatainer mx-0">
    <div class="row mx-0">
        
        <div class="col-md-12 mt-3">
            <div class="property_headding text-center">
                <h3 class="fontclass">Your free preview includes viewing this dashboard and certain working options.
                    Signup for free
                    membership to unlock more. </h3>
            </div>


        </div>
    </div>

    <div class="row mx-0">
        <div class="col-md-6">
            <div class="propertyimg ">
                <img src="../../../assets/img/home3.jpg">
            </div>

        </div>
        

     
        
        <div class="col-md-6">
            <div class="border p-3 sellingtext">
                <h3 class="detalhedding">Address {{ oneLine}}
                </h3>
                <div class="listingclss">
                    <li><b>Property type</b> - {{ propsubtype}}</li>
                    <li><b>Property idicator</b>- {{ propIndicator}}</li>
                    <li><b>Building size</b>- {{ sizeInd}}</li> 
                    <li> <b>Pool type</b>- {{pooltype}}</li>
                    <li><b>Property summary</b>- {{ propclass}}</li>
                    <li><b>Property indicator</b>- {{propIndicator}}</li>
                    <li><b>Rooms- 0 </b></li>
                    <li><b>687 sq.ft</b></li>
                </div>

            </div> 

        </div>
    </div>

    <div class="row mx-0">
        <div class="col-md-6 Basicdetailclss">


            <h4 class="detailsclss">Basic details about the property </h4>
            <div class="listingclss">
                <li >property size</li>
            <li>square footage</li>
            <li>location</li>
            <li>type</li>

            </div>
            
            <h3 class="Property_Description mt-3">Description Of Property</h3>
            <p class="paraclss">{{ legal1}}
            </p>
        </div>
        <div class="col-md-6 ARVCLSS">
            <h3 class="ARVclss">ARV</h3>
            <P class="ARVdescription ">The after repair value formula is:
                ARV = Property’s Purchase Price + Value of Renovations</P>
            <P class="ARVdescription">The formula for the 70% of ARV rule is:

                Best Maximum Bid Price = (ARV x 70%) – Estimated Repair Costs

                Example: The ARV of a distressed property is $200,000, and it needs an estimated $40,000 in repairs. To
                calculate the best maximum bid price = ($200,000 x 70%) – $40,000. In this case, 70% of $200,000 is
                $140,000. Subtract the estimated $40,000 in repairs and the best maximum bid price is $100,000.</P>
        </div>
    </div>
</div>