/* You can add global styles to this file, and also import other style files */
@import "~@swimlane/ngx-datatable/assets/icons.css";
@import "~@swimlane/ngx-datatable/themes/bootstrap.css";
@import "~@swimlane/ngx-datatable/index.css";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "../node_modules/ngx-toastr/toastr.css";

.mat-tab-label,
.mat-tab-link {
    color: inherit !important;
}


.homeSlider {
    .carousel-indicators {
        bottom: 40px;
    }
}


.slick-dots {
    bottom: -40px !important;
}

.slick-dots li button:before {
    font-size: 18px !important;
}

.slick-dots li.slick-active button:before {
    color: #F08519 !important;
    opacity: 0.75;
}

.propertyslider {
    // .slick-track{
    //     > *:nth-child(even) .cardclss{
    //         transform: scale(1.3, 1.3);
    //     }
    // }

    .slide {
        padding: 66px 30px;
    }
}

.datePicker {
    position: relative;

    mat-datepicker-toggle {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.cdk-overlay-container {
    z-index: 9999 !important;
}

.button.btn.btn-primary:hover {
    color: #123856 !important;
}

.mat-checkbox {
    display: block !important;
}

.mat-tab-body.mat-tab-body-active {
    z-index: 9999 !important;
}

.mat-form-field {
    display: block !important;
}

.mat-chip-list-wrapper input.mat-input-element {
    margin: 0px !important;
}

// .btn-outline-primary {
//     border-color: #f4a75a !important;
// }
.cursor-pointer {
    cursor: pointer;
}

.summeryTabs {
    .mat-tab-label {
        height: auto;
        padding: 7px 10px;
        min-width: auto;
    }

    .mat-tab-body-content {
        height: 100%;
        overflow: auto;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.material-icons {
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
}

.isRequired {
    &::after {
        content: "*";
        color: red;
        margin-left: 5px;
    }
}

.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #f4a75a !important;
    color: #fefefe;
    cursor: default;
}

.ellipsisDropdown {
    >.btn {
        padding: 5px;
        border: 0;
        color: #000 !important;
        background-color: transparent !important;
        box-shadow: none !important;

        &::after {
            content: none;
        }
    }

    .dropdown-menu {
        left: initial !important;
        right: 0 !important;
    }
}

.shine {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    min-height: 14px;
    border-radius: 5px;
}

strong.shine {
    display: block;
    margin-bottom: 14px;
}

.datatable-header-inner {
    background: #f08922 !important;
    font-size: 15px;
    font-weight: 600;
}




@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

.minHf {
    min-height: calc(100vh - 73px);
}

body {
    font-size: 14px;
}

.text {
    border-radius: 3px;
    padding: 12px 15px;
    background-color: #e4e4e4;
}

.tooltip.show {
    z-index: 9999;
}

.modal {
    z-index: 9999;
    overflow: auto;

    >* {
        position: relative;
    }

    .modal-overlay {
        background-color: #000;
        opacity: 0.5;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    .modal-body {
        max-height: calc(100vh - 188px);
        overflow: auto;
    }
}


.buttonCss {
    border-radius: 12px 0px 12px 0px;
    ;
    background: #0E3D53 !important;
    border-color: #0E3D53 !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0E3D53 !important;
    border: none !important;
}



.textClss {
    font-size: 17px !important;
    font-weight: 500 !important;
    color: #F08519;
}

.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;

    &.active {
        background: #F08519;
    }

}



.logo {
    max-width: 180px;
    width: 100%;
}

.spanclss {
    color: #F08519;
    cursor: pointer;
}

.form-control {
    font-size: 15px;
    list-style: none;
    height: auto;
    padding: 8px 20px;
}

.btn {
    font-size: 14px;
    line-height: normal;
    padding: 7px 22px;
}

.btn-primary {
    color: #fff;
    background-color: #f0851a;
    border-color: #f0851a;
}



.listTableWapper {
    height: calc(100vh - 225px);
}


.listTable {
    thead {
        background-color: #f8fafc;

        th {
            font-weight: 600;
        }
    }

    .action {
        >* {
            font-size: 16px;
            display: inline-block;
            margin: 3px;
            cursor: pointer;
        }
    }

    tbody {
        td {
            height: 60px;
            vertical-align: middle;
        }
    }
}



.loginWrapper {
    background-image: url('../src/assets/img/realstate.jpg');
    background-size: cover;
    background-position: center center;

    .card {
        background-color: #fff;
        color: #000;
        border-radius: 20px 0px 20px 0px;

        .forgotpassword {
            color: #fff;
        }
    }
}

.loaderDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffffb8;
    z-index: 9999;

    mat-spinner {
        width: 50px !important;
        height: 50px !important;

        >svg {
            height: 100% !important;
            width: 100% !important;
        }
    }
}

.invalid-feedback {
    display: block;
}

.mat-icon {
    height: auto !important;
    width: auto !important;
    font-size: inherit;
}

.listHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    h2 {
        font-weight: 700;
    }
}


.lhSaerchFrom {
    position: relative;
    width: 100%;
    max-width: 300px;
    display: inline-block;

    >.form-control {
        padding: 10px 30px;
        border-radius: 20px;
    }

    >.mat-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        font-size: 16px;

        &.search {
            left: 10px;
        }

        &.clear {
            right: 10px;
        }
    }
}


.lhBtn,
.aeBtn {
    border-radius: 20px;
    padding: 10px 25px;
    display: inline-flex;
    align-items: center;
}

.aedBtn {
    text-decoration: none !important;
    cursor: pointer;
}

.addEditForm {
    height: calc(100vh - 240px);
    overflow: auto;
    align-items: flex-start;

    .required {
        &::after {
            content: "*";
            margin-left: 3px;
        }
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.carousel-caption {
    position: absolute;
    top: 0;
    right: initial;
    bottom: 20px;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #F08519;
    border-color: #F08519;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #737b83;
    background-color: #fff;
    border-color: #F08519;

}

.right {
    padding: 0px 25px;
}



.right {
    display: inline-block;
    float: right;
    width: 80%;
    height: auto;
    position: relative;
}

.fieldclassCss {
    padding: 14px 22px !important;
    border-radius: 24px;
    font-size: 14px;
}

@media(max-width:768px) {
    .right {
        width: 100%;
    }
}

.datatable-header-inner {
    background: #424242;
    color: white;
}

.pay {
    background: #123856;
    color: #ffff;
    padding: 5px 12px;
    border: none;
    border-radius: 4px;

}

.datatable-row-center .datatable-row-group {
    background-color: rgba(0, 0, 0, 0.05);
}

.shine {
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
    min-height: 14px;
    border-radius: 5px;
    color: transparent !important;
}

strong.shine {
    display: block;
    margin-bottom: 14px;
}

.listingimg.shine {
    height: 263px;

}


@keyframes shine {
    to {
        background-position-x: -200%;
    }
}